[Desktop Entry]
Type=Application
Name=Membrane Recovery Desktop
Exec=/usr/local/bin/membrane-recovery-desktop
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
